.form {
  position: absolute;
  top: 13px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 260px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.dollar {
  font-size: 1.4rem;
  color: var(--text-color);
  font-family: 'Karla', sans-serif;
}

.input {
  width: 180px;
  height: 100%;
  font-size: 1.4rem;
  border: none;
  outline: none;
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

input::placeholder {
  font-size: 1.4rem;
  color: var(--text-color-placeholder);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.submit {
  background: none;
  outline: none;
  border: none;
}

.add {
  color: var(--text-color);
  font-size: 25px;
  grid-area: add;
  cursor: pointer;
}

.error {
  border-color: var(--error-color);
}

.errorText {
  color: var(--error-color);
  font-size: 14px;
  position: absolute;
  bottom: -20px;
  left: 10px;
}
