.expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.category {
  color: var(--text-color-light);
  font-size: 0.7rem;
}

.date {
  color: var(--text-color-light);
  font-size: 0.6rem;
}

.amount {
  font-size: 1.5rem;
}

.delete {
  position: absolute;
  right: 0;
  bottom: 5px;
  color: var(--text-color-placeholder);
  cursor: pointer;
  transition: 0.2s;
}

.delete:hover {
  color: var(--error-color);
}

@media screen and (max-width: 880px) {
  .title {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 450px) {
  .title {
    font-size: 1rem;
  }
  .amount {
    font-size: 1rem;
  }
}
