.overview {
  grid-area: overview;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: 'Karla', sans-serif;
  color: var(--text-color);
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.total {
  font-weight: 600;
  margin: 20px 0;
}

.legend {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.legendItem {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.amount {
  margin-left: auto;
  font-weight: 500;
}

@media screen and (max-width: 880px) {
  .chart {
    width: 300px !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .chart {
    width: 100px !important;
  }
}
