.container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  user-select: none;
  overflow-x: hidden;
}

.main {
  width: 60%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template: 130px 60vh / 280px auto;
  grid-template-areas:
    'budget expenses'
    'overview expenses';
  gap: 30px;
  font-family: 'Inter', sans-serif;
}

/* select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
} */

input::placeholder {
  font-size: 1.4rem;
  color: var(--text-color-placeholder);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
