.container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  user-select: none;
  overflow-x: hidden;
}

.main {
  width: 60%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template: 130px 60vh / 280px auto;
  grid-template-areas:
    'budget expenses'
    'overview expenses';
  gap: 30px;
  font-family: 'Inter', sans-serif;
}

input::placeholder {
  font-size: 1.4rem;
  color: var(--text-color-placeholder);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 1200px) {
  .main {
    width: 80%;
  }
}

@media screen and (max-width: 880px) {
  .main {
    height: 95%;
    width: 60%;
    grid-template: 130px auto auto / 1fr;
    grid-template-areas:
      'budget'
      'overview'
      'expenses';
  }
}

@media screen and (max-width: 450px) {
  .main {
    width: 95%;
  }
}
